body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: green;

}

.inside-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}

.header {
    background-color: blue;
}


.main-menu {
    display: flex;
    flex-direction:row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    overflow: hidden;
    background-color: #505050;
    flex-wrap: wrap;
}

.main-menu-item a {
    color:white;
    text-decoration: none;
    display: block;
    padding: 16px;
}

.main-menu-item a:hover {
    background-color: darkgray;
}

.left-column {
    flex: 2;
    background-color: red;
    padding: 16px;
}

.main-column {
    flex: 8;
    background-color: aqua;
    padding: 16px;
}

.right-column {
    flex: 2;
    background-color: coral;
    padding: 16px;
}

.footer {
    background-color: blue;
    text-align: center;
    padding: 5px;
}
